.card-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    position: relative;
    width: 600px;
    max-width: 80vw;
    height: 50vh;
    padding: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
}
.swipe{
    position: absolute;

}